﻿@model RoleCreateViewModel

<form asp-action="CreateRole" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <fieldset>
        <legend>Selecteer de permissies voor deze rol:</legend>
        <input asp-for="RoleManagement" />&nbsp; RoleManagement<br />
        <input asp-for="UserManagement" />&nbsp; UserManagement<br />
        <input asp-for="CreateNewsItem" />&nbsp; CreateNewsItem<br />
        <input asp-for="EditNewsItem" />&nbsp; EditNewsItem<br />
        <input asp-for="ApproveNewsItem" />&nbsp; ApproveNewsItem<br />
        <input asp-for="EventManagement" />&nbsp; EventManagement<br />
        <input asp-for="DeleteReaction" />&nbsp; DeleteReaction<br />
        <input asp-for="ViewStatistics" />&nbsp; ViewStatistics<br />
        <input asp-for="SponsorManagement" />&nbsp; SponsorManagement<br />

    </fieldset>
    <br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-warning">Clear</button>
</form>