﻿@*// TODO Add link to model*@
@model RoleDeleteViewModel

<form asp-controller="UserManagement" asp-action="DeleteRole" method="post" asp-route-id="@Model.Id">
    @*@Html.HiddenFor(x => x.Id)*@

    <h5 class="mb-5">Bent u zeker dat u de rol '@Model.Name' wil verwijderen?</h5>
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    @* <a class="nav-link active" href="">Terug naar overzicht rollen</a>*@
    <button class="btn btn-danger mr-5" type="submit">Verwijder Rol</button>
    <a class="btn btn-primary mr-5" asp-controller="UserManagement" asp-action="RoleOverview">Terug naar overzicht</a>
</form>