﻿@model SponsorDeleteViewModel

<form asp-controller="Sponsor" asp-action="Delete" method="post">
    <h2> "Ben je zeker dat je de sponsor "@Model.Naam" wilt verwijderen?</h2>
    <button class="btn btn-danger" type="submit"> Sponsor verwijderen </button>
    <a class="btn btn-primary" asp-area="" asp-controller="Sponsor" asp-action="Index">Annuleren</a>
</form>