﻿@model SponsorViewModel

@if (Model != null)
{
    <h2>Sponsor informatie</h2>
    <strong>Sponsor naam</strong>
    <p>@Model.Naam</p>
    <strong>Logo :</strong>
    <img src="@Model.Photo" class="img" />
    <br />
    <strong>Postcode</strong>
    @if (@Model.Postcode == null)
    {
        <p>Deze sponsor heeft geen postcode opgegeven.</p>
    }
    else
    {

        <p>@Model.Postcode</p>
    }

    <strong>Website</strong>
    @if (@Model.Url == null)
    {
        <p>Deze sponsor heeft geen website opgegeven.</p>
    }
    else
    {
        <p>@Model.Url</p>
    }

    //TODO Events aan sponsors linken
    @*<strong> Evenementen </strong>*@
    @*@foreach(var e in Model.Events)
        {
            <a asp-controller="Event" asp-action="Detail" asp-route-id="@e.Id">@e.Title</a>
        }*@
}
else
{
    <p>Deze sponsor bestaat niet!</p>
}

<a class="btn btn-primary" asp-controller="Sponsor" asp-action="Index">Terug naar overview</a>

<style>
    .img {
        height: 100px;
        width: 100px;
        margin: 50px;
    }
</style>
