@model IEnumerable<SponsorViewModel>

<h1> Sponsor overzicht </h1>

<a class="text-light btn btn-primary" asp-controller="Sponsor" asp-action="Create">Sponsor aanmaken</a>

@if (Model.Any( ) == false && Model != null) {
    <p> Er zijn geen sponsors</p>
} else {

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Naam </th>
            <th>Postcode </th>
            <th>Logo </th>
            <th>Website </th>
            <th>Detail </th>
            <th>Edit </th>
            <th>Delete </th>
        </tr>
        @foreach (var sponsor in Model) {
            <tr>
                <td>@sponsor.Naam</td>
                <td>@sponsor.Postcode</td>
                <td><img class="img" src="@sponsor.Photo" /></td>
                <td>@sponsor.Url</td>

                <td>
                    <a asp-controller="Sponsor" asp-action="Detail" asp-route-id="@sponsor.Id">Detail</a>
                </td>
                <td>
                    <a asp-controller="Sponsor" asp-action="Edit" asp-route-id="@sponsor.Id">Edit</a>
                </td>
                <td>
                    <a class="text-danger" asp-controller="Sponsor" asp-action="Delete" asp-route-id="@sponsor.Id">Delete</a>
                </td>

            </tr>
        }
    </table>
}

<style>
    .img {
        height: 100px;
        width: 100px
    }
</style>
