﻿@page
@model Disable2faModel
@{
    ViewData["Title"] = "Schakel two-factor authentication (2FA) uit";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie schakelt enkel de 2FA uit</strong>
    </p>
    <p>
        Het uitschakelen van de 2FA wijzigt de sleutels die in de authenticator app gebruikt worden niet. Indien u de sleutel die in een authenticator app gebruikt wordt wil wijzigen moet u de
        <a asp-page="./ResetAuthenticator">authenticator sleutels aanpassen</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Deactiveer 2FA</button>
    </form>
</div>
