﻿@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configureer authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p> Doorloop de volgende stappen om de authenticator app te gebruiken:</p>
    <ol class="list">
        <li>
            <p>
                Download een two-factor authenticator app zoals Microsoft Authenticator voor
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> en
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> of
                Google Authenticator voor
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> en
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Scan de QR Code of voer deze sleutel <kbd>@Model.SharedKey</kbd> in in je 2FA app. Er wordt geen rekening gehouden met spaties en hoofdletters.</p>
            <div class="alert alert-info">Leer hoe je de <a href="https://go.microsoft.com/fwlink/?Linkid=852423"> QR code kan genereren</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Eens je de QR code hebt gescanned of een sleutel hebt ingevoerd, zal de 2FA app een code genereren. Voer deze code in in het veld hieronder.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Verificatiecode</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
