﻿@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Genereer two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Bewaar deze codes op een veilige plek!</strong>
    </p>
    <p>
        Wanneer u uw toestel verliest en niet in het bezit bent van de recovery codes, verliest u ook de toegang tot uw account!
    </p>
    <p>
        Het genereren van nieuwe recovery codes verandert niets aan de sleutels die gebruikt worden in de authenticator apps.
        Indien u de sleutel wenst aan te passen in de authenticator app moet u <a asp-page="./ResetAuthenticator">de authenticator sleutels opnieuw instellen</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Genereer recovery codes</button>
    </form>
</div>