﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator sleutel";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>
            Indien u de authenticator sleutel reset, zal de authenticator app niet meer werken tot deze opnieuw geconfigureerd is.
        </strong>
    </p>
    <p>
        Dit proces schakelt de 2FA uit totdat uw authenticator app geverifieerd is.
        Indien de configuratie van uw authenticator app niet voltooid wordt, kan u de toegang tot uw account verliezen.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator sleutel</button>
    </form>
</div>