﻿@model ReservationCreateLoggedInViewModel
@* TODO: Moet hiervoor geen aparte viewmodel gemaakt worden? -> dit is niet mijn ticket*@

<form asp-controller="Reservation" asp-action="Edit" method="post">

    <div class="form-group text-white">
        <label asp-for="ReservationDate"></label>
        <select asp-for="ReservationDate" asp-items="Model.PossibleDates" onchange="ChangeTimes();" id="dateSelector"></select>
        <span class="text-danger" asp-validation-for="ReservationDate"></span>
    </div>

    <div class="form-group text-white">
        <label asp-for="ReservationTime"></label>
        <select asp-for="ReservationTime" id="timeSelector"></select>
        <span class="text-danger" asp-validation-for="ReservationTime"></span>
    </div>

    <div class="form-group text-white">
        <label asp-for="NumberOfPeople"></label>
        <input class="form-control" asp-for="NumberOfPeople" />
        <span class="text-danger" asp-validation-for="NumberOfPeople"></span>
    </div>

    <button class="btn btn-primary" type="submit">Reservatie aanpassen.</button>
</form>

<script>
    function ChangeTimes() {
        //console.log("ChangeTimes function executing");

        var dateSelector = document.getElementById("dateSelector");
        var dateString = dateSelector.options[dateSelector.selectedIndex].value;
        //console.log(dateString);

        var timeSelector = document.getElementById("timeSelector");

        //grab the possibletimes from the model:
        var modelRaw = '@Html.Raw(Json.Serialize(Model))';
        var parseModel = JSON.parse(modelRaw);
        var possibleTimes = parseModel.PossibleTimes[dateSelector.selectedIndex];
        //console.log(possibleTimes);
        for (var i = 0; i < possibleTimes.length; i++) {

            var tag = document.createElement("option");
            var text = document.createTextNode(possibleTimes[i]);
            tag.appendChild(text);
            timeSelector.appendChild(tag);
        }

    }
</script>