﻿@model ReservationEventListViewModel


<h1> Event Lijst Reservaties: </h1>


    <img src="@Model.Image"/>
    
    <p>Evenement adres: @Model.Address</p>
    
    
    <a asp-action="Detail" asp-controller="Event" asp-route-id="@Model.EventId">@Model.EventTitle</a>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Naam</th>
            <th>Aantal mensen</th>
            <th>Reservatie-datum</th>
        </tr>
     @if (Model.Reservations != null && Model.Reservations.Count > 0)
        {
   
        @foreach (var reservatie in Model.Reservations)
        {
            <tr>
                <td>@reservatie.Name</td>
                <td>@reservatie.NumberOfPeople</td>
                <td>@reservatie.ReservationDateTime</td>
                
            </tr>
        }
    }
    else
    {
            <p>Momenteel zijn er geen reservaties</p>
        
    }
</table>