﻿@model IEnumerable<ReservationIndexViewModel>

    <div class="mb-4">
        <a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Index">Terug naar evenementen</a>
        </div>
        
        @if (Model != null && Model.Any())
        {
            <h1 class="mb-5">Overzicht gemaakte reservaties</h1>
            @foreach (var reservation in Model)
            {
                <hr />
                <div class="mb-4">
                    @*TODO: link doesn't work, there is no Event - Detail yet
                        TODO: Fix indent of links*@
                    <h2><a class="nav-link text-primary pl-0" asp-controller="Event" asp-action="Detail" asp-route-id="@reservation.EventId">@reservation.EventTitle</a></h2>
                    <h4>  Reservatie op datum van @reservation.ReservationDateTime.ToString("dd/MM/yyyy HH:mm")</h4>
                    <h4>  Aantal personen: @reservation.NumberOfPeople</h4>
                    @*TODO: link doesn't work, there is no Reservation - Detail yet*@
                    @*<a class="nav-link text-primary pl-0" asp-controller="Reservation" asp-action="Detail" asp-route-id="@reservation.Id">Detail</a>*@
                    <a class="nav-link text-danger pl-0" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">Delete</a>
                </div>
            }
            <hr />
        }

        else
        {
            <h1> U heeft geen reservaties</h1>
        }
