﻿@*// TODO: Add nav item in _Layout*@
@model ContactViewModel

<div class="mx-auto" style="width: 400px">
    <div class="mt-5">
        <h3>Stel een vraag</h3>
    </div>
    @*<div class="mt-5">
            <h5>In case we want to add more info, a link to a FAQ section, ...</h5>
        </div>*@
    <div>
        <div>
            <form asp-controller="Home" asp-action="Contact" method="post">
                <div class="input-wrapper order-first input-group-md mt-5">
                    <input asp-for="Name" class="form-control" placeholder="Jouw naam" aria-label="Jouw naam" value="@Model.Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="input-wrapper input-group-md mt-3">
                    <input asp-for="Email" class="form-control" placeholder="voorbeeld@email.com" aria-label="voorbeeld@email.com" value="@Model.Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="input-wrapper input-group-md mt-3 h-100">
                    <textarea asp-for="Message" class="form-control" placeholder="Schrijf je bericht hier" aria-label="Schrijf je bericht hier" name="message"></textarea>
                    <span class="text-danger" asp-validation-for="Message"></span>
                </div>
                <div class="input-wrapper last input-group-lg mt-5">
                    <button class="btn btn-primary" type="submit" aria-label="Submit message">Verzenden</button>
                </div>
            </form>
        </div>
    </div>
</div>
