﻿@*// TODO: Add nav item in _Layout*@


<div class="mx-auto" style="width: 400px">
   <h2>Bedankt voor uw vraag!</h2>
    <p>We hebben uw vraag goed ontvangen. Ze is verstuurd naar de beheerders van de site.</p>
</div>