﻿@model EventDetailViewModel
@{
    ViewData["Title"] = "Detail";
    List<EventPeriodViewModel> periods = new List<EventPeriodViewModel>();

    periods = Model.Periods;

}

<h2 style="background: #343A40;color:white; padding:10px;">@Model.Title</h2>

<div class="container">
    <div class="d-flex flex-row ">

        <div class="p-1 justify-content-start">
            @*desc*@
            <h3>Beschrijving</h3>
            <p>@Model.Description</p>
        </div>

        @*picture*@
        <div class="p-3 justify-content-end">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img class="image" src="@Model.Image" />
            }
        </div>
    </div>

    @*cap*@
    <h3>Capaciteit</h3>
    @if (Model.MinCap == 0 && Model.MaxCap != 0)
    {
        <p>Dit event heeft geen minimum reservaries maar wel een maximum van @Model.MaxCap reservaties.</p>
    }
    else if (Model.MinCap != 0 && Model.MaxCap == 0)
    {
        <p>Dit event heeft geen maximum reservaries maar wel een minimum van @Model.MinCap reservaties.</p>
    }
    else if (Model.MinCap == 0 && Model.MaxCap == 0)
    {
        <p>Dit event heeft geen maximum en minimum reservaties</p>
    }
    else
    {
        <p>Dit event start met een capaciteit van minimum @Model.MinCap en maximum @Model.MaxCap reservaties.</p>
    }

    <h3>Adres</h3>
    <p>@Model.Street @Model.Number, @Model.ZipCode @Model.City</p>

    @*price*@
    <h3>Prijs per ticket</h3>
    @{
        double prijs = 0;
    }
    @if (Double.TryParse(Model.Price, out prijs))//checkt if price een double is
    {
        @if (prijs <= 0)
        {
            <p>Gratis</p>
        }
        else
        {
            <p>&euro;@Model.Price</p>
        }
    }
    else//if Price = "ertyuiojhjhgftuyi" > auto naar gratis = cheat but okay
    {
        <p>Gratis</p>
    }


    @*picture*@
    <h3>Data</h3>
    @*<div class="card-deck row" style="margin-bottom: 5px">*@
    <div class="row" style="margin-bottom: 5px">

        @for (int i = 0; i < periods.Count; i++)
        {
            int a = i + 1;
            <div class="card col-lg-4" style="margin:5px">
                @* <h5 class="card-header">Dag @a</h5>*@
                <div class="card-body">
                    @*<h5 class="card-title">@periods[i].Start.DayOfWeek @periods[i].Start.ToShortDateString()</h5>*@
                    <h5 class="card-title">@periods[i].Start.ToString("D", System.Globalization.CultureInfo.CreateSpecificCulture("nl-BE"))</h5>
                    @if (periods[i].Start == periods[i].End)
                    {
                        <p class="card-text">Start om @String.Format("{0: HH:mm}", periods[i].Start)</p>
                    }
                    else
                    {
                        <p class="card-text">Van @String.Format("{0: HH:mm}", periods[i].Start) tot @String.Format("{0: HH:mm}", periods[i].End)</p>
                    }

                </div>
            </div>
        }

    </div>

    @* TODO: check if btn works after implementing reservations *@
    <br />
    <a class="btn-primary p-1 m-1" asp-area="" asp-controller="Reservation" asp-action="Create" asp-route-Id="@Model.Id">
        Reserveer
    </a>
    <a class="btn-primary p-1 m-1" asp-area="" asp-controller="Event" asp-action="Index">
        Terug
    </a>
</div>
<br />
@if (Model.Sponsors != null)
{
    <h3>Sponsors</h3>
    if (Model.Sponsors.Count() == 0)
    {
        <p>Er zijn nog geen sponsors voor dit event.</p>
    }
    else
    {
        foreach (var x in Model.Sponsors)
        {
            <img class="img" src="@x.Photo" />

        }
    }
}

<style>
    .card-title:first-letter {
        text-transform: capitalize;
    }

    .img {
        height: 100px;
        width: 100px;
        margin: 20px;
        margin-top: 100px;
    }
</style>