﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registreer";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Link uw @Model.ProviderDisplayName account.</h4>
<hr />

<p id="external-login-description" class="text-info">
    <strong>@Model.ProviderDisplayName</strong> is met success geverifieerd!
    Voer hieronder uw emailadres voor deze site in en klik op de 'Registreer' knop
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registreer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
