﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Paswoord vergeten bevestigen?";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ga naar uw email om uw paswoord opnieuw in te stellen
</p>

