﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreer bevestiging";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Deze app heeft momenteel geen echte emailverzender geregistreerd. Belijk <a href="https://aka.ms/aspaccountconf">deze documenten</a> over hoe een echte emailverzender te configureren.
            Dit zou normaal gezien moeten verstuurd worden via email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om je account te verifiëren</a>.
        </p>
    }
    else
    {
        <p>
            Controleer uw mail om uw account te verifiëren!
        </p>
    }
}