﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset paswoord bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw paswoord is opnieuw ingesteld. <a asp-page="./Login">Klik hier om in te loggen</a>.
</p>
