﻿
@using Microsoft.AspNetCore.Identity

@inject SignInManager<dotNet_Core_Groepsopdracht.Areas.Identity.Data.User> SignInManager
@inject UserManager<dotNet_Core_Groepsopdracht.Areas.Identity.Data.User> UserManager

@if (SignInManager.IsSignedIn(User)) {
    
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link text-light" asp-page="/Account/Manage/Index" asp-area="Identity" title="Manage">Welkom @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <form method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" asp-page="/Account/Logout" asp-area="Identity" asp-route-returnUrl="@Url.Action("Index","Home", new { area = ""})" class="btn btn-link navbar-btn navbar-link text-light">Log uit</button>
                </form>
            </li>
        </ul>
} else {
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-light" asp-page="/Account/Register" asp-area="Identity">Registreren</a></li>
        <li><a class="nav-link text-light" asp-page="/Account/Login" asp-area="Identity" >Log in</a></li>
    </ul>
}