﻿@model NewsCreateViewModel


<h2> Artikel aanmaken</h2>
<form asp-controller="News" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" style="height: 300px"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"> Foto :</label>
        <input asp-for="Image" class="form-control" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <button class="btn btn-primary" type="submit">Artikel aanmaken</button>
    <button class="btn btn-warning" type="reset">Reset</button>
</form>
