﻿@model NewsDetailViewModel
@{ ViewData["Title"] = Model.Title;}
@using dotNet_Core_Groepsopdracht.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@inject UserManager<User> _userManager;
@{
    User user = _userManager.GetUserAsync(User).Result;
    if (user != null) user = _database.FindUserById(_userManager.GetUserAsync(User).Result.UserId);
}

<div>
    @*TODO: Add author info*@

    <h2>@Model.Title</h2>

    @*TODO: make dates small and well positiond*@
    <p>
        Aangemaakt op: @Model.DateCreated.ToString("dd/MM/yyyy") door @Model.AuthorUserName.
        @if (!(Model.DateAdjusted is null))
        {
            DateTime dateAdjusted = (DateTime)Model.DateAdjusted;
            <text>Laatst aangepast op: @dateAdjusted.ToString("dd/MM/yyyy"). </text>
        }
    </p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img class="image" src="@Model.ImageUrl" />
    }
    <br /><br />
    <p>@Html.Raw(Model.Content)</p>

    @if (Model.Reactions.Count > 0)
    {
        <h3 class="mt-5 mb-4">Reacties</h3>
        <div id="reactions-container">

            @foreach (NewsDetailReactionViewModel reaction in Model.Reactions)
            {
                <div class="pt-4 pl-4 pr-4" style="border:1px solid lightgrey;">
                    <p>
                        <span style="font-weight:bolder">@reaction.Title</span><br />
                        <span style="font-size:smaller">Door @reaction.AuthorUserName op @reaction.DateMade</span>
                    </p>
                    <p>@reaction.Content</p>

                    @if (user != null && user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.DeleteReaction))
                    {
                        <p>
                            <a class="btn btn-danger " asp-area="" asp-controller="News" asp-action="DeleteReaction" asp-route-Id="@reaction.Id">Verwijder</a>
                        </p>
                    }
                </div>
            }
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Detail" method="post" asp-route-id="@Model.Id">
            <h4 class="mt-5 mb-4">Voeg een reactie toe</h4>
            <div class="form-group">
                <label asp-for="ReactionTitle"></label>
                <input asp-for="ReactionTitle" class="form-control" />
                <span class="text-danger" asp-validation-for="ReactionTitle"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reaction"></label>
                <textarea rows="5" asp-for="Reaction" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Reaction"></span>
            </div>
            <button class="btn btn-primary" type="submit">Plaats reactie</button>
        </form>

    }

    <br />
    <br />
    <a class="btn btn-primary mr-5" asp-area="" asp-controller="News" asp-action="Index" asp-route-Id="@Model.Id">Terug</a>

    @if (user != null && User.Identity.IsAuthenticated && (user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.EditNewsItem) || user.Id == Model.AuthorId))
    {
        <a class="btn btn-primary mr-5" asp-area="" asp-controller="News" asp-action="Edit" asp-route-Id="@Model.Id">Aanpassen</a>
        <a class="btn btn-danger mr-5" asp-area="" asp-controller="News" asp-action="Delete" asp-route-Id="@Model.Id">Verwijderen</a>
    }
</div>