﻿@model IEnumerable<NewsIndexViewModel>
@using dotNet_Core_Groepsopdracht.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@inject UserManager<User> _userManager;

@{ViewData["Title"] = "Nieuws"; }
<h1>Nieuws</h1>
@{ User user = _userManager.GetUserAsync(User).Result;
    if (user != null) { user = _database.FindUserById(user.Id); }
}
@if (user != null && User.Identity.IsAuthenticated && user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.CreateNewsItem))
{
    <a class="btn btn-primary mt-3 mb-3" asp-controller="News" asp-action="Create">Artikel aanmaken</a>
}
<style>
    #newsarticle {
        height: 200px;
        background-size: cover;
        color: white;
        font-size: 20px;
        position: relative;
        margin: 5px;
        text-shadow: 1px 1px #000000;
    }

    @@media (min-width: 768px) {
        #newsarticle {
            height: 350px;
            background-size: cover;
            color: white;
            font-size: 25px;
            position: relative;
            margin: 5px;
            text-shadow: 1px 1px #000000;
        }
    }

    #newsarticle span {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
</style>

@if (Model != null && Model.Any())
{
    <div class="row container">
        @foreach (var nieuws in Model)
        {
            <div class="col-lg-6 col-sm-12">
                <a asp-controller="News" asp-action="Detail" asp-route-id="@nieuws.Id">
                    <div style="margin-bottom:30px; background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%), url('@nieuws.ImageUrl');"
                         id="newsarticle" class="rounded"><span>@nieuws.Title</span></div>
                    </a>
                </div>
            }
    </div>
}

else
{
    <h3>Er zijn geen nieuwsartikels</h3>
}